<!DOCTYPE html>
<html>
  <head>
    <title>ユーザー一覧</title>
  </head>

  <body>
    <div id="header">
      <h1 id="applicationTitle">UserManagement</h1>
    </div>
    <div id="container">
      <div id="innerContainer">
        <table id="usersData">
            <th>no</th>
            <th>id</th>
            <th>mailaddres</th>
            <th>password</th>
            <th></th>
            <th></th>
          <tbody>
            <tr>
              <td>no_field</td>
              <td>id_field</td>
              <td>mailaddres_field</td>
              <td>password_field</td>
              <td><button id="showBtn" href="#">show</button></td>
              <td><button id="deleteBtn" href="#">delete</button></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "new user create", new_user_path, id: "createBtn" %>
      </div>
    </div>
  </body>
</html>